<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hello simpsons</h1> 
    <% simpsons.forEach(element=>{ %>
    
    <h2> <%= element.character %></h2>
    <p> <%= element.quote %></p>
    <img src="<%= element.image %>">
<p><%= element.characterDirection %></p>

<form action="/details/:id?_method=PUT" method="POST">

<input type="text" name="character" placeholder="character">
<input type="text"  name="quote">
<input type="text"  name="image">
<input type="text"  name="characterDirection">
<input type="submit"  name="submit" value="update">

</form>
 
<form action="/details/:id?_method=DELETE" method="POST">
<BUTton type="submit">DELETE</BUTton>

</form>

    <% })  %>
</body>
</html>